/* General styles */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
* Game styles
*/

/* Game area */
.game-area {
    width: 50%;
    margin: 0;
}

/* Game top panel */
.top-panel {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.top-panel__scores {
    margin: 0;
    padding: 0;
    width: 1fr;
    direction: rtl;
}

.top-panel__score-stars {
    list-style: none;
    display: inline-block;
}

.top-panel__moves {
    width: 1fr;
}

.top-panel__time {
    width: 1fr;
}

.top-panel__reset {
    width: 1fr;
    font-weight: 600;
    cursor: pointer;
}

/* Game deck area */
.deck-area {
    margin: 0;
    padding: 0;
}

.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0.75rem 1rem 1.25rem 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck__card {
    height: 8rem;
    width: 8rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 0.6rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.1rem 1.25rem 0 rgba(46, 61, 73, 0.5);
    margin: 1rem 0rem;
    padding: 0;
}

.deck__card--flipped {
    background: #92c7f1;
    font-size: 2rem;
    cursor: default;
}

.deck__card--matched {
    background: #328a00;
    animation: jello-horizontal;
    animation-duration: 0.9s;
}

.deck__card--not-matched {
    background: #bd142a;
    animation: shake-horizontal;
    animation-duration: 0.8s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal__content {
    position: relative;
    background: #ffffff url('../img/geometry2.png');;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 0.75rem;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal__header {
    width: 100%;
    text-align: center;
    color: #328a00;
    /* border-bottom: 1px solid #2e3d49; */
}

.modal__footer {
    width: 100%;
    text-align: center;
    color: #4573f1;
    /* border-top: 1px solid #2e3d49; */
}

.modal__actions {
    text-align: center;
}

.llmodal__button {
    display: inline-block;
    margin: 0.25rem 0.5rem 0.5rem;
}

/* General button style (reset) */
.modal__button {
    padding: 0.3rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0.25rem 1rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #4573f1;
    color: white;
    border: 2px solid #4573f1;
    border-radius: 5px;
    font-family: inherit;
}

.modal__button:hover {
	background-color: white; 
    color: black;
}

.modal__body {
    width: 100%;
    text-align: center;
}

.modal__star-text {
    margin: 0.5rem;
    display: inline;
}

.modal__time-text {
    margin: 0.5rem;
    display: block;
}

/* Animations */
/* Cards Matched */
.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
* Generated by Animista on 2018-8-12 14:19:36
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation jello-horizontal
* ----------------------------------------
*/
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

/* Cards MisMatched */
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
* Generated by Animista on 2018-8-12 14:30:11
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation shake-horizontal
* ----------------------------------------
*/
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
    }
}